// font variables
$font-stack: 'Poppins', sans-serif;

// font color
$balck-color:#000;
$base-color:#fff;
$pentagon-color:#F5F5F5;
$box-shadow-color:#DCDCDC;
$title-about-us-color:rgb(51,51,51);
$text-color:#939a9b;

// list





