.footer {
    width: 100%;
    background-color: $balck-color;
    padding: 70px 0;

}

.footer__socials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.box_socials {
    display: flex;
    justify-content: center;

    @include responsive("phone") {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}

.footer__socials_link {
    padding: 0 15px;

    @include responsive("phone") {
        padding: 0 10px;

    }

    &:hover {
        color: rgb(107, 103, 103);
        transition: color .4s ease-in;
    }
}